<div class="welcome-container">
  <div class="profile-container">
    <img src="assets/me.png" class="profile-image" alt="Foto de Mateo" />
    <button class="work-button">Disponible para trabajar</button>
  </div>
  <h1>Hola, Bienvenido Soy</h1>
  <h2>Mateo Maibach</h2>
  <p class="typewriter">Desarrollador Web Full-Stack</p>

  <div class="social-buttons">
    <a
    
      href="https://www.linkedin.com/in/tu-linkedin"
      target="_blank"
      rel="noopener noreferrer"
      class="social-button linkedin"
    >
     <i class="fa-brands fa-linkedin"></i>LinkedIn
    </a>
    <a href="mailto:tu-email@ejemplo.com" class="social-button email">
      <i class="fa-solid fa-envelope"></i> Email
    </a>
    
    <a
      href="https://github.com/tu-github"
      target="_blank"
      rel="noopener noreferrer"
      class="social-button github"
    >
    <i class="fa-brands fa-github"></i> GitHub
    </a>
    
    <a
      href="assets/cv.pdf"
      target="_blank"
      rel="noopener noreferrer"
      class="social-button cv"
    >
    <i class="fa-regular fa-file-pdf"></i>CV
    </a>
    
  </div>
</div>
